.movieCard{
    position: relative;
    /* border: 5px solid black; */
    /* border: 2px solid green; */
    width: 200px;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: repeat;
    width: 200px;
    height: 300px;
    transition: 0.3s;
    /*background-color: rgb(22, 21, 21);
    */
    background-blend-mode: multiply;
}

.img .favButton{
    display: none;
    cursor: pointer;
    height: 80px;
    width: 80px;
    right: 0;
    font-size: 80px;
    background-color: transparent;
    /* border: 2px solid green; */
    border: none;
    border-radius: 50%;
    color: green;
}

.img:hover .favButton{
    display: block;
}

.img:hover{
    background-color: rgba(48, 46, 46, 0.712);
    background-blend-mode: multiply;
}

.movieCard .movieInfo{
    padding-left: 10px;
    background-color: rgb(22, 21, 21);
    width: 100%;
    /* border: 3px solid blue; */
    position: absolute;
    border-top: 3px solid green;
    /* border: 3px solid black; */
    bottom: 0;
    height: 60px;
}

.movieCard .movieInfo h3{
    height: 25px;
    padding: 0;
    overflow: hidden;
}